@import "normalize.css";

:focus, :active {outline: none;}

.body{
	font-size: 20px;
	text-decoration: none;
	box-shadow: none;
	outline: none;
}
.fontcolor {
    font-size: 50px;
    color: darkgreen;
}

.fontstyle {
    font-size: 30px;
    color: darkolivegreen;
    text-shadow: 3px 3px 10px black;
}

.colora{
	text-decoration: none;
	font-size: 30px;
}

.colora:visited{
	color:#6DD867;
}

.colora:hover{
	color:#678AD8;
}

.colora:active{
	color:#D8B067;
}

.text{
	color: violet;
}

.text:hover{
	color: green;
	box-shadow: 2px 2px 5px darkgreen;
}

.font_of_form{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	outline: none;
}

.username{

}

.username:focus{
	border: 1px solid rgb(137, 183, 209);
	border-radius: 1px;
	box-shadow: 2px 2px 5px rgb(33, 120, 170);
}
.textarea_css:focus{
	border: 5px solid darkgreen;
}